<div id="digimon-world-1-ps1">

    <h2 class="text-primary text-center" data-bs-toggle="collapse" href="#guiaDigimonWorld1PS1" style="cursor: pointer;">Guía Digimon World 1 PS1</h2>

    <!-- Evoluciones -->
     <div id= "evolucionesDigimon">

        <h3 class="mt-3 text-center" data-bs-toggle="collapse" href="#evoluciones" style="cursor: pointer;">Evoluciones</h3>

        <!-- Primera Digievolución -->
        <div id="primeraDigievolucion" class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="primeraEvolucionHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#primeraEvolucion" aria-expanded="true" aria-controls="primeraEvolucion">
                        Primera Digievolución
                    </button>
                </h2>
                <div id="primeraEvolucion" class="accordion-collapse collapse show" aria-labelledby="primeraEvolucionHeader" data-bs-parent="#primeraDigievolucion">
                    <div class="accordion-body">
                        <table class="table table-bordered table-sm table-striped">
                            <thead class="table-light">
                                <tr>
                                    <th>Evolución de</th>
                                    <th>a</th>
                                    <th>Tipo</th>
                                    <th>Tiempo</th>
                                    <th>Condiciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Huevo Verde</td>
                                    <td>Botamon (Baby)</td>
                                    <td>Data</td>
                                    <td>Inmediata</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Huevo Azul</td>
                                    <td>Punimon (Baby)</td>
                                    <td>Data</td>
                                    <td>Inmediata</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Huevo Rosa</td>
                                    <td>Yuramon (Baby)</td>
                                    <td>Data</td>
                                    <td>Inmediata</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Huevo Naramja</td>
                                    <td>Poyomon (Baby)</td>
                                    <td>Data</td>
                                    <td>Inmediata</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda Digievolucion -->
        <div id="SegundaDigievolucion" class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="segundaEvolucionHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#segundaEvolucion" aria-expanded="true" aria-controls="segundaEvolucion">
                        Segunda Digievolución
                    </button>
                </h2>
                <div id="segundaEvolucion" class="accordion-collapse collapse show" aria-labelledby="segundaEvolucionHeader" data-bs-parent="#segundaDigievolucion">
                    <div class="accordion-body">
                        <table class="table table-bordered table-sm table-striped">
                            <thead class="table-light">
                                <tr>
                                    <th>Evolución de</th>
                                    <th>a</th>
                                    <th>Tipo</th>
                                    <th>Tiempo</th>
                                    <th>Condiciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Botamon</td>
                                    <td>Koromon (In-Training)</td>
                                    <td>Data</td>
                                    <td>6 horas</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Punimon</td>
                                    <td>Tsunomon (In-Training)</td>
                                    <td>Data</td>
                                    <td>6 horas</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Yuramon</td>
                                    <td>Tanemon (In-Training)</td>
                                    <td>Data</td>
                                    <td>6 horas</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Poyomon</td>
                                    <td>Tokomon (In-Training)</td>
                                    <td>Data</td>
                                    <td>6 horas</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tercera Digievolucion-->
        <div id="terceraDigievolucion" class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="pterceraEvolucionHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#terceraEvolucion" aria-expanded="true" aria-controls="terceraEvolucion">
                        Tercera Digievolución
                    </button>
                </h2>
                <div id="terceraEvolucion" class="accordion-collapse collapse show" aria-labelledby="terceraEvolucionHeader" data-bs-parent="#terceraDigievolucion">
                    <div class="accordion-body">
                        <table class="table table-bordered table-sm table-striped">
                            <thead class="table-light">
                                <tr>
                                    <th>Evolución de</th>
                                    <th>a</th>
                                    <th>Tipo</th>
                                    <th>Tiempo</th>
                                    <th>Condiciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Koromon</td>
                                    <td>Agumon (Rookie)</td>
                                    <td>Vacuna</td>
                                    <td>1 día y 6 horas</td>
                                    <td>Si Ataque es el indicador más alto</td>
                                </tr>
                                <tr>
                                    <td>Koromon</td>
                                    <td>Gabumon (Rookie)</td>
                                    <td>Data</td>
                                    <td>1 día y 6 horas</td>
                                    <td>Si Defensa o Velocidad son el indicador más alto</td>
                                </tr>
                                <tr>
                                    <td>Tsunomon</td>
                                    <td>Elecmon (Rookie)</td>
                                    <td>Data</td>
                                    <td>1 días y 6 horas</td>
                                    <td>Si Ataque o Velocidad es el indicador más alto</td>
                                </tr>
                                <tr>
                                    <td>Tsunomon</td>
                                    <td>Penguimon (Rookie)</td>
                                    <td>Data</td>
                                    <td>1 días y 6 horas</td>
                                    <td>Si Defensa o Inteligencia es el indicador más alto</td>
                                </tr>
                                <tr>
                                    <td>Tanemon</td>
                                    <td>Palmon (Rookie)</td>
                                    <td>Vacuna</td>
                                    <td>1 días y 6 horas</td>
                                    <td>Si Inteligencia es el indicador más alto</td>
                                </tr>
                                <tr>
                                    <td>Tanemon</td>
                                    <td>Betamon (Rookie)</td>
                                    <td>Virus</td>
                                    <td>1 días y 6 horas</td>
                                    <td>Si Defensa es el indicador más alto</td>
                                </tr>
                                <tr>
                                    <td>Tokomon</td>
                                    <td>Patamon (Rookie)</td>
                                    <td>Data</td>
                                    <td>1 días y 6 horas</td>
                                    <td>Si Ataque o Inteligencia indicador más</td>
                                </tr>
                                <tr>
                                    <td>Tokomon</td>
                                    <td>Biyomon (Rookie)</td>
                                    <td>Vacuna</td>
                                    <td>1 días y 6 horas</td>
                                    <td>Si Velocidad es el indicador más alto</td>
                                </tr>
                                <tr>
                                    <td>Koromon<br>Tsunomon<br>Tanemon<br>Tokomon</td>
                                    <td>Kunemon (Rookie)</td>
                                    <td>Data</td>
                                    <td>1 días y 6 horas</td>
                                    <td>50% de posibilidades, si duerme en la Cama de Kunemon en el Bosque Indígena</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cuarta Digievolucion -->
        <div id="cuartaDigievolucion" class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="cuartaEvolucionHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cuartaEvolucion" aria-expanded="true" aria-controls="cuartaEvolucion">
                        Cuarta Digievolución
                    </button>
                </h2>
                <div id="cuartaEvolucion" class="accordion-collapse collapse show" aria-labelledby="cuartaEvolucionHeader" data-bs-parent="#cuartaDigievolucion">
                    <div class="accordion-body">
                        <table class="table table-bordered table-sm table-striped">
                            <thead>
                                <tr>
                                <th>Digimon Base</th>
                                <th>Evoluciona a (Tipo)</th>
                                <th>Tipo</th>
                                <th>Tiempo</th>
                                <th>Condiciones</th>
                                <th>Objeto de Evolución Automática</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>Agumon</td><td>Centarumon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>30 gr., Inteligencia 100, 2 a 3 fallos</td><td>Pezuña de Hierro</td></tr>
                                <tr><td>Agumon</td><td>Meramon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>20 gr., Ataque 100, máx. 5 fallos</td><td>Bola de Fuego</td></tr>
                                <tr><td>Agumon<br>Gabumon<br>Patamon</td><td>Tyrannomon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>30 gr., PV 1000, Defensa 100, máx. 5 fallos</td><td>Colmillo Blanco</td></tr>
                                <tr><td>Agumon<br>Biyomon</td><td>Birdramon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>20 gr., Velocidad 100, máx. 3 fallos</td><td>Alas de Fuego</td></tr>
                                <tr><td>Agumon</td><td>Greymon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>30 gr., Ataque, Defensa, Velocidad, Inteligencia 100, 1 o 0 fallos</td><td>Garras Grises</td></tr>

                                <tr><td>Gabumon</td><td>Centarumon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>40 gr., Ataque 100, máx. 3 fallos</td><td>Taladro de Acero</td></tr>
                                <tr><td>Gabumon</td><td>Drimogemon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>-</td><td>-</td></tr>
                                <tr><td>Gabumon</td><td>Monochromon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>40 gr., PV 1000, Defensa e Inteligencia 100, 2 o 3 fallos</td><td>Piedra</td></tr>
                                <tr><td>Gabumon<br>Patamon</td><td>Ogremon (Champion)</td><td>Virus</td><td>4 días 6h – 5 días 6h</td><td>-</td><td>-</td></tr>

                                <tr><td>Elecmon<br>Patamon</td><td>Angemon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>20gr., Movimiento 1000, Inteligencia 100, 0 fallos</td><td>Alas Blancas</td></tr>
                                <tr><td>Elecmon<br>Biyomon</td><td>Kokatorimon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>30gr., PV 1000, 3 o más fallos</td><td>Gallo</td></tr>
                                <tr><td>Elecmon<br>Patamon</td><td>Leomon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>20gr., Ataque, Velocidad e Inteligencia 100, 1 o 0 fallos</td><td>Melena de Fuego</td></tr>
                                
                                <tr><td>Penguinmon<br>Betamon</td><td>Shellmon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>40gr., PV 1000, Defensa 100, más de 5 fallos</td><td>Concha Roja</td></tr>
                                <tr><td>Penguinmon</td><td>Frigimon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>30gr., Movimiento 1000, Defensa 100, 4 ó 5 fallos</td><td>Cristal de Hielo</td></tr>
                                <tr><td>Penguinmon</td><td>Garurumon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>30gr., Movimiento 1000, Velocidad 100, 1 ó 0 fallos</td><td>Cristal Azul</td></tr>
                                <tr><td>Penguinmon</td><td>Mojyamon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>40gr., PV y Movimiento 1000, más de 5 fallos</td><td>Crecepelo</td></tr>
                                <tr><td>Penguinmon<br>Palmon<br>Betamon</td><td>Whamon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>40gr., PV 1000, Inteligencia 100, 2 ó 3 fallos</td><td>Estrella del Norte</td></tr>

                                <tr><td>Palmon</td><td>Ninjamon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>10gr., Movimiento 1000, Ataque y Velocidad 100, 1 ó 0 fallos</td><td>Leyes de Koga</td></tr>
                                <tr><td>Palmon<br>Kunemon</td><td>Kuwagamon (Champion)</td><td>Virus</td><td>4 días 6h – 5 días 6h</td><td>30gr., PV y Movimiento 1000, Ataque y Velocidad 100, más de 5 fallos</td><td>Tijeras</td></tr>
                                <tr><td>Palmon<br>Kunemon</td><td>Vegiemon (Champion)</td><td>Virus</td><td>4 días 6h – 5 días 6h</td><td>10gr., Movimiento 1000, más de 5 fallos</td><td>Fertilizante Orgánico</td></tr>

                                <tr><td>Betamon</td><td>Coelamon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>30gr., Defensa 100, más de 3 fallos</td><td>Puño de Hielo</td></tr>
                                <tr><td>Betamon</td><td>Drimogemon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>40gr., Ataque 100, más de 3 fallos</td><td>Taladro de Acero</td></tr>
                                <tr><td>Betamon</td><td>Seadramon (Champion)</td><td>Data</td><td>4 días 6h – 5 días 6h</td><td>30gr., PV y Movimiento 1000, más de 3 fallos</td><td>Botella de Agua</td></tr>

                                <tr><td>Patamon<br>Biyomon</td><td>Unimon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>30gr., PV 1000, Velocidad 100, 2 ó 3 fallos</td><td>Unicornio</td></tr>

                                <tr><td>Biyomon</td><td>Airdramon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>30gr., Movimiento 1000, Velocidad e Inteligencia 100, 1 ó 0 fallos</td><td>Cuerno Arcoiris</td></tr>
                                <tr><td>Biyomon<br>Kunemon</td><td>Kabuterimon (Champion)</td><td>Vacuna</td><td>4 días 6h – 5 días 6h</td><td>30gr., PV 1000, Defensa y Velocidad 100, 1 o 0 fallos</td><td>Ataque, Casco</td></tr>

                                <!-- Los que mas pre-evoluciones tiene -->
                                <tr><td>Agumon<br>Elecmon<br>Penguinmon<br>Palmon<br>Betamon<br>Patamon<br>Biyomon<br>Kunemon</td><td>Bakemon (Champion)</td><td>Virus</td><td>4 días 6h – 5 días 6h</td><td>20 gr., Movimiento 1000, máx. 3 fallos</td><td>Andrajos</td></tr>
                                <tr><td>Agumon<br>Elecmon<br>Penguinmon<br>Palmon<br>Betamon<br>Patamon<br>Biyomon<br>Kunemon</td><td>Nanimon (Champion)</td><td>Virus</td><td>4 días 6h – 5 días 6h</td><td>Felicidad y Disciplina en 0</td><td>Gafas de Sol</td></tr>
                                <tr><td>Gabumon<br>Elecmon<br>Penguinmon<br>Kunemon</td><td>Nanimon (Champion)</td><td>Virus</td><td>4 días 6h – 5 días 6h</td><td>30 gr., PV 1000, Ataque 100, más de 5 fallos</td><td>-</td></tr>
                                <tr><td>Agumon<br>Gabumon<br>Elecmon<br>Penguinmon<br>Palmon<br>Betamon<br>Patamon<br>Biyomon<br>Kunemon</td><td>Numemon (Champion)</td><td>Virus</td><td>4 días 6h – 5 días 6h</td><td>No cumple ninguna condición especial</td><td>-</td></tr>
                                <tr><td>Agumon<br>Gabumon<br>Elecmon<br>Penguinmon<br>Palmon<br>Betamon<br>Patamon<br>Biyomon<br>Kunemon</td><td>Sukamon (Champion)</td><td>Virus</td><td>4 días 6h – 5 días 6h</td><td>16 o más fallos, no llevar al lavabo</td><td>-</td></tr>  
                            </tbody>
                        </table>                          
                    </div>
                </div>
            </div>
        </div>

        <!-- Quinta Digievolucion -->
        <div id="quintaDigievolucion" class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="quintaEvolucionHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#quintaEvolucion" aria-expanded="true" aria-controls="quintaEvolucion">
                        Quinta Digievolución
                    </button>
                </h2>
                <div id="quintaEvolucion" class="accordion-collapse collapse show" aria-labelledby="quintaEvolucionHeader" data-bs-parent="#quintaDigievolucion">
                    <div class="accordion-body">
                        <table class="table table-bordered table-sm table-striped">
                            <thead class="table-light">
                                <tr>
                                    <th>Evolucion de</th>
                                    <th>a</th>
                                    <th>Tipo</th>
                                    <th>Gr</th>
                                    <th>P.Vida</th>
                                    <th>P.Mvto</th>
                                    <th>Ataque</th>
                                    <th>Defensa</th>
                                    <th>Velocidad</th>
                                    <th>Inteligencia</th>
                                    <th>Fallos</th>
                                    <th>Objeto de Evolución</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nanimon</td>
                                    <td>DIGITAMAMON</td>
                                    <td>Data</td>
                                    <td>10</td>
                                    <td>3000</td>
                                    <td>3000</td>
                                    <td>100</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>-</td>
                                    <td>Huevo Nebuloso</td>
                                </tr>
                                <tr>
                                    <td>Kabuterimon<br>Kuwagamon<br>Shellmon</td>
                                    <td>MEGA KABUTERIMON</td>
                                    <td>Data</td>
                                    <td>-</td>
                                    <td>3500</td>
                                    <td>2500</td>
                                    <td>250</td>
                                    <td>250</td>
                                    <td>200</td>
                                    <td>200</td>
                                    <td>-</td>
                                    <td>Perla Escarabajo</td>
                                </tr>
                                <tr>
                                    <td>Leomon<br>Ninjamon<br>Frigimon<br>Whamon<br>Mojyamon</td>
                                    <td>MAMEMON</td>
                                    <td>Data</td>
                                    <td>5</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>400</td>
                                    <td>400</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>Mas de 15</td>
                                    <td>Bola de Plata</td>
                                </tr>
                                <tr>
                                    <td>Frigimon<br>Kabuterimon<br>Monochromon<br>Ninjamon</td>
                                    <td>METAL MAMEMON</td>
                                    <td>Data</td>
                                    <td>10</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>500</td>
                                    <td>400</td>
                                    <td>400</td>
                                    <td>400</td>
                                    <td>Menos de 15</td>
                                    <td>Armadura</td>
                                </tr>
                                <tr>
                                    <td>Coelamon<br>Garurumon<br>Seadramon<br>Shellmon<br>Whamon</td>
                                    <td>MEGASEADRAMON</td>
                                    <td>Data</td>
                                    <td>-</td>
                                    <td>5000</td>
                                    <td>4000</td>
                                    <td>400</td>
                                    <td>300</td>
                                    <td>200</td>
                                    <td>400</td>
                                    <td>-</td>
                                    <td>Cadena de Coral</td>
                                </tr>
                                <tr>
                                    <td>Kokatorimon<br>Kuwagamon<br>Ninjamon<br>Vegiemon</td>
                                    <td>PIXIMON</td>
                                    <td>Data</td>
                                    <td>5</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>400</td>
                                    <td>400</td>
                                    <td>Mas de 15</td>
                                    <td>Lanza Pequeña</td>
                                </tr>
                                <tr>
                                    <td>Meramon<br>Centarumon<br>Ogremon<br>Leomon<br>Angemon</td>
                                    <td>ANDROMON</td>
                                    <td>Vacura</td>
                                    <td>40</td>
                                    <td>2000</td>
                                    <td>4000</td>
                                    <td>200</td>
                                    <td>400</td>
                                    <td>200</td>
                                    <td>400</td>
                                    <td>Menos de 5</td>
                                    <td>Piezas Cibernéticas</td>
                                </tr>
                                <tr>
                                    <td>Centarumon<br>Ogremon<br>Bakemon<br>Unimon</td>
                                    <td>GIROMON</td>
                                    <td>Vacuna</td>
                                    <td>5</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>400</td>
                                    <td>-</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>Mas de 15</td>
                                    <td>Sierra Mecánica</td>
                                </tr>
                                <tr>
                                    <td>Numemon</td>
                                    <td>MONZAEMON</td>
                                    <td>Vacuna</td>
                                    <td>40</td>
                                    <td>3000</td>
                                    <td>3000</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>-</td>
                                    <td>Venda X</td>
                                </tr>
                                <tr>
                                    <td>Birdramon<br>Airdramon<br>Kokatorimon<br>Angemon<br>Unimon<br>Sukamon</td>
                                    <td>PHOENIXMON</td>
                                    <td>Vacuna</td>
                                    <td>30</td>
                                    <td>2000</td>
                                    <td>4000</td>
                                    <td>450</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>-</td>
                                    <td>Bengala Carmesí</td>
                                </tr>
                                <tr>
                                    <td>Sukamon</td>
                                    <td>ETEMON</td>
                                    <td>Virus</td>
                                    <td>15</td>
                                    <td>2000</td>
                                    <td>1000</td>
                                    <td>400</td>
                                    <td>200</td>
                                    <td>400</td>
                                    <td>300</td>
                                    <td>-</td>
                                    <td>Plátano de Oro</td>
                                </tr>
                                <tr>
                                    <td>Airdreamon<br>Devimon<br>Seadramon<br>Tyrannomon</td>
                                    <td>MEGADRAMON</td>
                                    <td>Virus</td>
                                    <td>55</td>
                                    <td>3000</td>
                                    <td>5000</td>
                                    <td>500</td>
                                    <td>300</td>
                                    <td>400</td>
                                    <td>400</td>
                                    <td>Menos de 10</td>
                                    <td>Mega Mano</td>
                                </tr>
                                <tr>
                                    <td>Drimogemon<br>Greymon<br>Monochromon<br>Tyrannmon</td>
                                    <td>METAL GREYMON</td>
                                    <td>Virus</td>
                                    <td>65</td>
                                    <td>4000</td>
                                    <td>3000</td>
                                    <td>500</td>
                                    <td>500</td>
                                    <td>300</td>
                                    <td>300</td>
                                    <td>Menos de 10</td>
                                    <td>Piezas de Metal</td>
                                </tr>
                                <tr>
                                    <td>Bakemon<br>Devimon<br>Garurumon<br>Greymon<br>Mojyamon</td>
                                    <td>SKULL GREYMON</td>
                                    <td>Virus</td>
                                    <td>30</td>
                                    <td>4000</td>
                                    <td>6000</td>
                                    <td>400</td>
                                    <td>400</td>
                                    <td>200</td>
                                    <td>500</td>
                                    <td>Mas de 10</td>
                                    <td>Hueso Fatal</td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>VADEMON</td>
                                    <td>Virus</td>
                                    <td colspan="9">Hay un 50% de posibilidades para todos los digimon clase Champion de digievolucionar a Vademon, después de un lapso de tiempo de 360 horas.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!-- Termina Evoluciones -->
     </div>

</div>

<!-- Fuente: http://elsangreysusnotas.blogspot.com/2014/01/guia-de-digimon-world-1-ps1.html -->
