<div id="courses">

    <!-- Software -->
    <h3 class="mt-3 text-center">Courses</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://www.udemy.com/" target="_blank">Udemy</a>
        </li>
        <li class="list-group-item">
            <a href="https://es.duolingo.com/" target="_blank">Duolingo - Idiomas.</a>
        </li>
        <li class="list-group-item">
            <a href="https://miriadax.net/" target="_blank">Miriadax</a>
        </li>
    </ul>

</div>