<div id="courses-content">

    <!-- Courses -->
    <h2 class="text-primary text-center" data-bs-toggle="collapse" href="#courses" style="cursor: pointer;">Courses</h2>
    <ul id="courses" class="list-group collapse show">
        <li class="list-group-item">
            <a href="https://www.udemy.com/" class="nav-link" target="_blank">Udemy</a>
        </li>
        <li class="list-group-item">
            <a href="https://es.duolingo.com/" class="nav-link" target="_blank">Duolingo - Idiomas.</a>
        </li>
        <li class="list-group-item">
            <a href="https://miriadax.net/" class="nav-link" target="_blank">Miriadax</a>
        </li>
    </ul>

</div>