<div id="developer">

    <h1 class="text-primary">Developer</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://allthetags.com/" class="nav-link" target="_blank">Tags para desarrollador Web - HTML5</a>
          </li>
          <li class="list-group-item">
            <a href="https://devdocs.io/" class="nav-link" target="_blank">devdocs.io - Documentacion de lenguajes de desarrollo.</a>
          </li>
          <li class="list-group-item">
            <a href="https://overapi.com/" class="nav-link" target="_blank">overapi - Chuletas de lenguajes de programacion.</a>
          </li>
          <li class="list-group-item">
            <a href="https://jsonpath.com/" class="nav-link" target="_blank">jsonpath</a>
          </li>
          <li class="list-group-item">
            <a href="https://jsonviewer.stack.hu/" class="nav-link" target="_blank">jsonviewer</a>
          </li>
          <li class="list-group-item">
            <a href="https://regex101.com/" class="nav-link" target="_blank">Practicar Expresiones Regulares</a>
          </li>
          <li class="list-group-item">
            <a href="https://playcode.io/new" class="nav-link" target="_blank">Playcode</a>
          </li>
          <li class="list-group-item">
            <a href="https://peter.sh/experiments/chromium-command-line-switches/" class="nav-link" target="_blank">Lista de comando para ChromeDriver</a>
          </li>
          <li class="list-group-item">
            <a href="https://nekocalc.com/es/px-a-rem-conversor" class="nav-link" target="_blank">Convertidor de Pixeles a REM</a>
          </li>
          <li class="list-group-item">
            <a href="https://docs.getxray.app/display/XRAY/Import+Execution+Results+-+REST" class="nav-link" target="_blank">Doc XRAY</a>
          </li>
    </ul>

    <!-- JavaScript -->
    <h3 class="mt-3 text-center">JavaScript</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://playcode.io/new" class="nav-link" target="_blank">Playcode</a>
        </li>
        <li class="list-group-item">
            <a href="https://developer.mozilla.org/es/" class="nav-link" target="_blank">MDN Web Docs</a>
        </li>
        <li class="list-group-item">
            <a href="https://ramdajs.com/" class="nav-link" target="_blank">Libreria Ramda</a>
        </li>
        <li class="list-group-item">
            <a href="https://evgenykochetkov.github.io/ramda-cheatsheet/" class="nav-link" target="_blank">Ramda v0.25.0</a>
        </li>
    </ul>

    <!-- Help Testing -->
    <h3 class="mt-3 text-center">Help Testing</h3>
    <ul class="list-group">
        <li class="list-group-item">
          <a href="https://petstore.swagger.io/" class="nav-link" target="_blank">petstore.swagger - Pruebas swagger.</a>
        </li>
        <li class="list-group-item">
          <a href="https://demoqa.com/" class="nav-link" target="_blank">DemoQA - Pruebas elementos HTML.</a>
        </li>
        <li class="list-group-item">
          <a href="https://reqres.in/" class="nav-link" target="_blank">reqres - Pruebas Backend.</a>
        </li>
      </ul>

      <!-- Docker -->
      <h3 class="mt-3 text-center">Docker</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="https://hub.docker.com/" class="nav-link" target="_blank">DockerHub - Repositorio de imagenes para Docker</a>
        </li>
        <li class="list-group-item">
          <a href="https://devdocs.io/docker~1.11-compose/" class="nav-link" target="_blank">Help Docker</a>
        </li>
      </ul>
      
</div>