<div id="games">

    <!-- Games -->
    <h3 class="mt-3 text-center">Games</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://www.systemrequirementslab.com/cyri" target="_blank">Can You Run - Verificar se un juego corre en la PC.</a>
        </li>
        <li class="list-group-item">
            <a href="https://mapgenie.io/" target="_blank">Map Genie - Mapas de Juegos y todos los coleccionables</a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/gibbed/SteamAchievementManager" target="_blank">Software para conseguir todos los logros en Steam.</a>
        </li>
        <li class="list-group-item">
            <a href="https://cdromance.org/?s=army+men&language=spanish" target="_blank">Descargar juegos de consolas.</a>
            <a href="https://retrogametalk.com/repository/" target="_blank">retrogametalk - Descarga juegos de consolas.</a>
        </li>
        <li class="list-group-item">
            <a href="https://aprendiz.foroactivo.com/t11-compresion-del-juego-en-formato-pbp-formato-playstation-psp" target="_blank">PSX2PSP - Programa para la compresion de juegos en formato PBP, formato PlayStation y PSP.</a>
            <br>
            <a href="https://docs.google.com/document/d/1LZ84sM88vHOTUzS7HGAJQkoc8ItjVtfL/edit?pli=1" target="_blank">Enlace alternativo</a>
        </li>
    </ul>

</div>