<div id="games">

    <!-- Games -->

    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://www.systemrequirementslab.com/cyri" class="nav-link" target="_blank">Can You Run - Verificar se un juego corre en la PC.</a>
        </li>
        <li class="list-group-item">
            <a href="https://mapgenie.io/" class="nav-link" target="_blank">Map Genie - Mapas de Juegos y todos los coleccionables</a>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/gibbed/SteamAchievementManager" class="nav-link" target="_blank">Software para conseguir todos los logros en Steam.</a>
        </li>
        <li class="list-group-item">
            <a href="https://cdromance.org/?s=army+men&language=spanish" class="nav-link" target="_blank">Descargar juegos de consolas.</a>
            <a href="https://retrogametalk.com/repository/" class="nav-link" target="_blank">Retrogametalk - Descarga juegos de consolas.</a>
        </li>
        <li class="list-group-item">
            <a href="https://aprendiz.foroactivo.com/t11-compresion-del-juego-en-formato-pbp-formato-playstation-psp" class="nav-link" target="_blank">PSX2PSP - Programa para la compresion de juegos en formato PBP, formato PlayStation y PSP.</a>
            <a href="https://docs.google.com/document/d/1LZ84sM88vHOTUzS7HGAJQkoc8ItjVtfL/edit?pli=1" class="nav-link" target="_blank">Enlace alternativo</a>
        </li>
    </ul>

    <!-- Guias -->
    <h3 class="mt-3 text-center" data-bs-toggle="collapse" href="#guiasGames" style="cursor: pointer;">Guias</h3>
    <ul id="guiasGames" class="list-group collapse">
        <li class="list-group-item">
            <a id="green-hell" class="nav-link" href="#green-hell" onclick="loadLink('green-hell')">Green-hell</a>
        </li>
    </ul>

</div>

