<div id="hardware">

    <!-- Hardware -->
    <h3 class="mt-3 text-center">Hardware</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://www.geeknetic.es/calculadora-fuente-alimentacion" class="nav-link" target="_blank">Calculadora de Fuente de Alimentacion</a>
        </li>
        <li class="list-group-item">
            <a href="https://pcpartpicker.com" class="nav-link" target="_blank">pcpartpicker - Simulador para montar un equipo y comparar productos.</a>
        </li>
    </ul>
</div>