<div id="ia">

  <h1 class="text-primary">IA</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://www.toolify.ai/" target="_blank">Toolify - Herramientas con IA</a>
    </li>
    <li class="list-group-item">
      <a href="https://www.futuretools.io/" target="_blank">Futuretools - Herramientas con IA</a>
    </li>
    <li class="list-group-item">
      <a href="https://tome.app/" target="_blank">Tome - Crear presentaciones</a>
    </li>
    <li class="list-group-item">
      <a href="https://askyourpdf.com/es" target="_blank">Askyourpdf - Subes un documento PDF y puedes hacer preguntas sobre el</a>
    </li> 
  </ul>

  <!-- Chatbot -->
  <h3 class="mt-3 text-center">Chatbot</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="https://chat.openai.com/?model=text-davinci-002-render-sha" target="_blank">ChatGPT</a>
      </li>
      <li class="list-group-item">
        <a href="https://gemini.google.com/app" target="_blank">Gemini</a>
      </li>
      <li class="list-group-item">
        <a href="https://platform.openai.com/playground/chat" target="_blank">Playground</a>
      </li>
      <li class="list-group-item">
        <span class="text-info-emphasis">ChatHub - Cliente de chatbot todo en uno - Extension de Chrome que te permite realizar la misma pregunta a varios Chatbot IA</span>
      </li>
    </ul>

    <!-- Generative Art -->
     <h3 class="mt-3 text-center">Generative Art</h3>
     <ul class="list-group">
      <li class="list-group-item">
        <a href="https://www.midjourney.com/home?callbackUrl=%2Fapp%2F">Midjourney</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.bluewillow.ai/">BlueWillow</a>
      </li>
      <li class="list-group-item">
        <a href="https://leonardo.ai/">Leonardo</a>
      </li>
      <li class="list-group-item">
        <a href="https://labs.openai.com/">DALL·E 2</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.upscale.media/es">UpscaleMedia - Mejorar calidad de Imagen</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.adobe.com/es/products/firefly.html">Adobe Firefly</a>
      </li>
      <li class="list-group-item">
        <a href="https://letsenhance.io/">Letsenhance - Mejora la calidad de las imagenes</a>
      </li>
    </ul>

    <!-- Help -->
     <h3 class="mt-3 text-center">Help</h3>
     <ul class="list-group">
      <li class="list-group-item">
        <a href="https://platform.openai.com/">Help ChatGPT</a>
      </li>
    </ul>
</div>
