<div id="ia-content">

  <!-- IA -->
  <h2 class="text-primary text-center" data-bs-toggle="collapse" href="#ia" style="cursor: pointer;">IA</h2>
  <ul id="ia" class="list-group collapse show">
    <li class="list-group-item">
      <a href="https://www.toolify.ai/" class="nav-link" target="_blank">Toolify - Herramientas con IA</a>
    </li>
    <li class="list-group-item">
      <a href="https://www.futuretools.io/" class="nav-link" target="_blank">Futuretools - Herramientas con IA</a>
    </li>
    <li class="list-group-item">
      <a href="https://tome.app/" class="nav-link" target="_blank">Tome - Crear presentaciones</a>
    </li>
    <li class="list-group-item">
      <a href="https://askyourpdf.com/es" class="nav-link" target="_blank">Askyourpdf - Subes un documento PDF y puedes hacer preguntas sobre el</a>
    </li> 
  </ul>

  <!-- Chatbot -->
  <h3 class="mt-3 text-center" data-bs-toggle="collapse" href="#chatbot" style="cursor: pointer;">Chatbot</h3>
    <ul id="chatbot" class="list-group collapse">
      <li class="list-group-item">
        <a href="https://chat.openai.com/?model=text-davinci-002-render-sha" class="nav-link" target="_blank">ChatGPT</a>
        <a href="https://platform.openai.com/" class="nav-link">Help ChatGPT</a>
      </li>
      <li class="list-group-item">
        <a href="https://gemini.google.com/app" class="nav-link" target="_blank">Gemini</a>
      </li>
      <li class="list-group-item">
        <a href="https://platform.openai.com/playground/chat" class="nav-link" target="_blank">Playground</a>
      </li>
      <li class="list-group-item">
        <span class="text-info-emphasis">ChatHub - Cliente de chatbot todo en uno - Extension de Chrome que te permite realizar la misma pregunta a varios Chatbot IA</span>
      </li>
    </ul>

    <!-- Generative Art -->
     <h3 class="mt-3 text-center" data-bs-toggle="collapse" href="#generativeArt" style="cursor: pointer;">Generative Art</h3>
     <ul id="generativeArt" class="list-group collapse">
      <li class="list-group-item">
        <a href="https://www.midjourney.com/home?callbackUrl=%2Fapp%2F" class="nav-link">Midjourney</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.bluewillow.ai/" class="nav-link">BlueWillow</a>
      </li>
      <li class="list-group-item">
        <a href="https://leonardo.ai/" class="nav-link">Leonardo</a>
      </li>
      <li class="list-group-item">
        <a href="https://labs.openai.com/" class="nav-link">DALL·E 2</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.upscale.media/es" class="nav-link">UpscaleMedia - Mejorar calidad de Imagen</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.adobe.com/es/products/firefly.html" class="nav-link">Adobe Firefly</a>
      </li>
      <li class="list-group-item">
        <a href="https://letsenhance.io/" class="nav-link">Letsenhance - Mejora la calidad de las imagenes</a>
      </li>
    </ul>

</div>
