<div id="pcgaming">

    <!-- PC-Gaming -->
    <h3 class="mt-3 text-center">PC-Gaming</h3>

    <ul class="list-group">
        <li class="list-group-item">
            Activar Windows en modo Juego
            <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleWindowsGame" aria-expanded="false" aria-controls="collapseExample">
                Detalle
            </button>
            <div class="mt-3 collapse" id="detalleWindowsGame">
                Cuando usas el Modo Juego, Windows da prioridad a tu esperiencia de juego desactivando todo en segundo plano.<br>
                En el buscador de Windows: Modo Juego y marcar el check.
            </div>
        </li>

        <li class="list-group-item">
            Aumentar Rendimiento
            <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleAumentarRendimiento" aria-expanded="false" aria-controls="collapseExample">
                Detalle
            </button>
            <div class="mt-3 collapse" id="detalleAumentarRendimiento">
                <ul>
                    <li>En el plan de energia, configurarlo como alto rendimiento.</li>
                    <li>Abrir en panel de control de NVIDIAN - Configuracion 3D - Controlar la configuracion 3D - GPU de renderizado de OpenGL - Configurar con nuestra Grafica.</li>
                    <li>En la misma ubicacion anterior, Modo baja latencia - Configurarlo como ultra.</li>
                    <li>En la misma ubicacion anterior, Modo de control de energia - Configurarlo como Maximo Rendimiento Preferido.</li>
                </ul>
            </div>
        </li>

        <li class="list-group-item">
            Controlar el Rendimiento del PC mientras juegas.
            <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleViewRendimiento" aria-expanded="false" aria-controls="collapseExample">
                Detalle
            </button>
            <div class="mt-3 collapse" id="detalleViewRendimiento">
                Presionamos: Control + g - Podemos configurar la ventana de rendimiento y anclarla para poder ver en todo momento el rendimiento que tiene nuestro equipo.
            </div>
        </li>

        <li class="list-group-item">
            Desactivar la Mejora de Puntero del Raton.
            <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detallePunteroRaton" aria-expanded="false" aria-controls="collapseExample">
                Detalle
            </button>
            <div class="mt-3 collapse" id="detallePunteroRaton">
                Configuracion del Mouse - Opciones avanzadas - Pestaña Opciones del Puntero - Desactivar la opcion Mejorar la Precision del Puntero.
            </div>
        </li>
    </ul>

</div>