<div id="pcgaming-content">

    <!-- PC-Gaming -->
    <h2 class="text-primary text-center" data-bs-toggle="collapse" href="#pcgaming" style="cursor: pointer;">PC-Gaming</h2>
    <ul id="pcgaming" class="list-group collapse show">
        <li class="list-group-item">
            Activar Windows en modo Juego
            <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleWindowsGame" aria-expanded="false" aria-controls="collapseExample">
                Detalle
            </button>
            <div class="mt-3 collapse" id="detalleWindowsGame">
                Cuando usas el Modo Juego, Windows da prioridad a tu esperiencia de juego desactivando todo en segundo plano.<br>
                En el buscador de Windows: Modo Juego y marcar el check.
            </div>
        </li>

        <li class="list-group-item">
            Aumentar Rendimiento
            <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleAumentarRendimiento" aria-expanded="false" aria-controls="collapseExample">
                Detalle
            </button>
            <div class="mt-3 collapse" id="detalleAumentarRendimiento">
                <ul>
                    <li>En el plan de energia, configurarlo como alto rendimiento.</li>
                    <li>Abrir en panel de control de NVIDIAN - Configuracion 3D - Controlar la configuracion 3D - GPU de renderizado de OpenGL - Configurar con nuestra Grafica.</li>
                    <li>En la misma ubicacion anterior, Modo baja latencia - Configurarlo como ultra.</li>
                    <li>En la misma ubicacion anterior, Modo de control de energia - Configurarlo como Maximo Rendimiento Preferido.</li>
                </ul>
            </div>
        </li>

        <li class="list-group-item">
            Controlar el Rendimiento del PC mientras juegas.
            <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleViewRendimiento" aria-expanded="false" aria-controls="collapseExample">
                Detalle
            </button>
            <div class="mt-3 collapse" id="detalleViewRendimiento">
                Presionamos: Control + g - Podemos configurar la ventana de rendimiento y anclarla para poder ver en todo momento el rendimiento que tiene nuestro equipo.
            </div>
        </li>

        <li class="list-group-item">
            Desactivar la Mejora de Puntero del Raton.
            <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detallePunteroRaton" aria-expanded="false" aria-controls="collapseExample">
                Detalle
            </button>
            <div class="mt-3 collapse" id="detallePunteroRaton">
                Configuracion del Mouse - Opciones avanzadas - Pestaña Opciones del Puntero - Desactivar la opcion Mejorar la Precision del Puntero.
            </div>
        </li>
    </ul>

    <!-- Bugs Game -->
     <h3 class="mt-3 text-center" data-bs-toggle="collapse" href="#bugsGame" style="cursor: pointer;">Bugs Game</h3>
     <ul id="bugsGame" class="list-group collapse">
        <li class="list-group-item">
            Arreglos de torines, bajos fps y micro-congelamientos
            <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleTironesFPSCongelamiento" aria-expanded="false" aria-controls="collapseExample">
                Detalle
            </button>
            <div class="mt-3 collapse" id="detalleTironesFPSCongelamiento">
                Uno de los fallo que me ha dado un juego en especifico, Spider-Man 2, esta en las librerias <strong>dstorage.dll y dstoragecore.dll</strong><br>
                Estas librerias las usa Microsoft para dar mas velocidad de lectura al cargar datos, pero hay una version que no funciona bien y hace que te pegue tirones, bajos FPS y micro-congelamientos.<br>
                Por ejemplo estas librerias tambien las usa Horizon, pero en este juego sacaron un parche para bajar la version buena de estas librerias por lo cual no da el error, se ve que en el Spider-Man 2 no han sacado parche para arreglarlo.<br>
                La solucion es crear una carpera en la raiz del juego que no funciona, y arrastrar las librerias esas, la carpeta puede tener el nombre que quieras.<br>
                Este arreglo no asegura que funcione en todos los juegos, parece ser algo especial.
                <ul>
                    <li>
                        <a href="https://www.reddit.com/r/spiderman2/comments/1ifvzbg/how_to_fix_stutters_low_fps_and_micro_frezee_in/">Spider-Man 2</a>
                    </li>
                    <li>
                        <a href="https://steamcommunity.com/app/2420110/discussions/0/4355617421472784811/">Horizon</a>
                    </li>
                </ul>
            </div>
        </li>
     </ul>

</div>