<div id="shopping">

    <!-- Shopping -->
    <h3 class="mt-3 text-center">Shopping</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="https://www.emugames.net/" target="_blank">EmuGames - Emuladores.</a>
        </li>
        <li class="list-group-item">
            <a href="https://es.boardgamearena.com/" target="_blank">Board game arena - Juegos de mesa en linea.</a>
        </li>
        <li class="list-group-item">
            <a href="https://gocdkeys.es/" target="_blank">Go CD Keys - Compra de claves para Software.</a>
        </li>
        <li class="list-group-item">
            <a href="https://difmark.com/es" target="_blank">DIFMARK - Compra de claves para Software.</a>
        </li>
        <li class="list-group-item">
            <a href="https://www.instant-gaming.com/es/" target="_blank">Instant Gaming - Compra de Juegos.</a>
        </li>
        <li class="list-group-item">
            <a href="https://www.humblebundle.com/" target="_blank">Humble Bundle - Compra de Juegos.</a>
        </li>
        <li class="list-group-item">
            <a href="https://web.tulotero.es/" target="_blank">Tu Lotero - Compra de loteria.</a>
        </li>
    </ul>
</div>