<div id="software-content">

  <!-- Software -->
    <h2 class="text-primary text-center" data-bs-toggle="collapse" href="#software" style="cursor: pointer;">Software</h2>
    <ul id="software" class="list-group collapse show">
      <li class="list-group-item">
        <a href="https://www.microsoft.com/es-es/microsoft-365/free-office-online-for-the-web" class="nav-link" target="_blank">Office Online</a>
      </li>
      <li class="list-group-item">
          <a href="https://www.ventoy.net/en/index.html" class="nav-link" target="_blank">Ventoy - MultiBoot Pendrive y poder añadir las isos que quereamos dependiendo de la capacidad de este.</a>
          <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleVentoy" aria-expanded="false" aria-controls="collapseExample">
            Detalle
          </button>
          <div class="mt-3 collapse" id="detalleVentoy">
            Pasos:
            <ul>
                <li>Descargar el software</li>
                <li>Descomprimimos el archivo descargado</li>
                <li>Ejecutamos el exe centoy2dick</li>
                <li>Selecionamos el pendrive en el que lo queremos instalar</li>
                <li>
                    (Opcional, por defecto MBR) Tenemos que selecionar el tipo de particion:
                    <ul>
                        <li>MBR: Resto de equipos</li>
                        <li>GPT: Equips con UEFFI</li>
                    </ul>
                </li>
                <li>(Opcional) Cambiar el lenguaje</li>
                <li>El pendrive se renombra con el nombre Ventoy, entonces esta listo</li>
                <li>Copiamos las isos dentro del pendrive, por ejemplo Hirent, windows 10, windows 11, etc</li>
            </ul>
            Podemos meter tantas isos como cojan dentro del Pendrve dependiendo del tamaño de este.
          </div>
      </li>
      <li class="list-group-item">
        <a href="https://medicatusb.com/" class="nav-link" target="_blank">Mediacat USB - Software para distintas tareas.</a>
        <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleMediacat" aria-expanded="false" aria-controls="collapseExample">
            Detalle
        </button>
        <div class="mt-3 collapse" id="detalleMediacat">
            <ul>
                <li>- Eliminar contraseñas</li>
                <li>- Analisis del equipo</li>
                <li>- Particiones de disco duro</li>
                <li>- Recuperacion de datos</li>
                <li>- Hacer backup</li>
                <li>- Mas</li>
              </ul>
        </div>
      </li>
      <li class="list-group-item">
        <a href="https://technical.city/es" class="nav-link" target="_blank">Technical City - Comparador de Graficas y Procesadores.</a>
      </li>
      <li class="list-group-item">
        <a href="https://nanoreview.net/en/cpu-compare" class="nav-link" target="_blank">NanoReview - Comparador de Graficas y Procesadores.</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.systemrequirementslab.com/cyri" class="nav-link" target="_blank">Can You Run - Verificar se un juego corre en la PC.</a>
      </li>
      <li class="list-group-item">
        <a href="https://ninite.com/" class="nav-link" target="_blank">Ninite - Descarga de programas basicos y gratis.</a>
      </li>
      <li class="list-group-item">
        <a href="https://alternativeto.net/" class="nav-link" target="_blank">AlternativeTo - Buscardor de alternativas de software gratis.</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.planyourroom.com/" class="nav-link" target="_blank">Plan Your Room - Diseñar habitaciones.</a>
      </li>
      <li class="list-group-item">
        <a href="https://letsenhance.io/" class="nav-link" target="_blank">Letsenhance - Mejora la calidad de las imagenes</a>
      </li>
      <li class="list-group-item">
        <a href="https://tome.app/" class="nav-link" target="_blank">Tome - Crear presentaciones</a>
      </li> 
      <li class="list-group-item">
        <a href="https://askyourpdf.com/es" class="nav-link" target="_blank">Askyourpdf - Subes un documento PDF y puedes hacer preguntas sobre el</a>
      </li>
      <li class="list-group-item">
        Hyper-V - Maquinas virtuales en Windows
        <button class="btn btn-primary ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#detalleHyperV" aria-expanded="false" aria-controls="collapseExample">
            Detalle
        </button>
        <div class="mt-3 collapse" id="detalleHyperV">
            <ul>
                <li>- Eliminar contraseñas</li>
                <li>- Analisis del equipo</li>
                <li>- Particiones de disco duro</li>
                <li>- Recuperacion de datos</li>
                <li>- Hacer backup</li>
                <li>- Mas</li>
            </ul>
        </div>
      </li>
      <li class="list-group-item">
        <a href="https://www.airdroid.com/es/cast/" class="nav-link" target="_blank">AirDroid Cast - Permite mandar la pantalla del movil al PC</a>
      </li>
      <li class="list-group-item">
        <a href="https://www.pdfgear.com/" class="nav-link" target="_blank">PDFgear - Distintas herramientas para modificar PDF</a>
      </li>
    </ul>

    <!-- Particiones Disco -->
    <h3 class="mt-3 text-center" data-bs-toggle="collapse" href="#patitionDisk" style="cursor: pointer;">Particiones Disco</h3>
    <ul id="patitionDisk" class="list-group collapse">
        <li class="list-group-item">DiskGenius</li>
        <li class="list-group-item">BalenaEtcher</li>
        <li class="list-group-item">Win32DiksImager</li>
    </ul>

    <!-- Imagenes -->
    <h3 class="mt-3 text-center" data-bs-toggle="collapse" href="#imagenes" style="cursor: pointer;">Imagenes</h3>
    <ul id="imagenes" class="list-group collapse">  
        <li class="list-group-item">
            <a href="https://www.canva.com/es_es/" class="nav-link" target="_blank">Canva - Retocar Imagenes</a>
        </li>
        <li class="list-group-item">
            <a href="https://www7.lunapic.com/editor/" class="nav-link" target="_blank">Lunapic - Retocar Imagenes</a>
        </li>
    </ul>

    <!-- CV -->
    <h3 class="mt-3 text-center" data-bs-toggle="collapse" href="#cv" style="cursor: pointer;">CV</h3>
    <ul id="cv" class="list-group collapse">
        <li class="list-group-item">
            <a href="https://www.cutout.pro/es/passport-photo-maker/upload" class="nav-link" target="_blank">Foto CV</a>
        </li>
        <li class="list-group-item">
            <a href="https://www.hireflow.net/" class="nav-link" target="_blank">Mejora tu CV</a>
        </li>
    </ul>
</div>