<div id="textTools-content">

      <!-- TextTools-->
      <h2 class="text-primary text-center" data-bs-toggle="collapse" href="#textTools" style="cursor: pointer;">TextTools</h2>
      <ul id="textTools" class="list-group collapse show">
        <li class="list-group-item">
          <a href="https://www.contarcaracteres.com/" class="nav-link" target="_blank">Contarcaracteres</a>
        </li>
        <li class="list-group-item">
          <a href="https://www.spellboy.com/corrector-gramatical/" class="nav-link" target="_blank">Corrector Gramatical</a>
        </li>
        <li class="list-group-item">
          <a href="https://www.deepl.com/translator" class="nav-link" target="_blank">deepl - Traductor</a>
        </li>
        <li class="list-group-item">
          <a href="https://www.pdf2go.com/es" class="nav-link" target="_blank">Conversor de PDF</a>
        </li>
        <li class="list-group-item">
          <a href="https://excalidraw.com/" class="nav-link" target="_blank">Excalidraw - Crear diagramas y bocetos visuales de manera colaborativa</a>
        </li>
        <li class="list-group-item">
          <a href="https://jsonformatter.org/xml-formatter" class="nav-link" target="_blank">jsonformatter</a>
        </li>
        
      </ul>

</div>